.register-container {
  width: 70%;
  gap: 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.title-container {
  padding-bottom: 20px;
  display: flex;
  width: 70%;
  margin: 0 auto;
  flex-direction: column;
}

.title-container h2 {
  font-size: 25px;
}

.title-container p {
  font-size: 15px;
}

.register-container input {
  padding: 13px;
  width: 100%;
  border: none;
  border-radius: 5px;
}
.regiser-flex {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.regiser-flex div {
  width: 47%;
}

.regiser-flex-input {
  position: relative;
}

.regiser-flex-input p {
  text-align: start;
  padding-bottom: 7px;
  font-weight: bold;
  font-size: 15px;
}

.regiser-flex-input-icon {
  position: absolute;
  right: 13px;
  top: 38px;
  cursor: pointer;
}

.follow-container button {
  margin-top: 8px;
  background-color: white;
  color: black;
}

.register-button {
  font-weight: bold !important;
  font-family: "Inter", sans-serif !important;
  width: 70%;
  padding: 10px !important;
}

.forgot-container {
  padding: 14px 0;
}

.SignIn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.MuiSvgIcon-root {
  width: 16px;
}

@keyframes slideUpFadeIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.alert-success {
  animation: slideUpFadeIn 0.6s ease-out forwards;
}
